:root {
    --main-font-family: "Poppins", sans-serif;
    --main-font-color: #F8F8F8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

/* Allows the page to have a h1 */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}

.container {
    max-width: 550px;
    min-width: 350px;
    /* min-height: 600px; */
    /* min-height: 90vh; */
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    padding: 0.5em;
}

/* Typography styles - Start */
.dog-profile-name {
    font-size: 2em;
    font-weight: 600;
}

.dog-profile-bio {
    font-size: 1.5em;
    font-weight: 400;
}

/* Typography styles - End */

/* Header styles - Start */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
}

.app-icons {
    width: 45px;
    height: 45px;
}

.app-logo {
    width: 84px;
    height: 45px;
}

.app-icons,
.app-logo {
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
}

/* Header styles - End */

/* Main app styles - Start */

.dogs-container {
    position: relative;
}

.dog-profile-image {
    width: 100%;
    border-radius: 1em;
}

.dog-profile-details {
    position: absolute;
    bottom: 30;
    left: 12;
}

.dog-profile-badge {
    display: none;
    width: 172px;
    height: 90px;
    position: absolute;
    top: 40;
    left: 20;
    transform: rotate(-25deg);;
}

.swipe-button-container {
    text-align: center;
    margin: 1.5em 0;
}

.swipe-btn {
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 0;
    padding: 1.5em;

}

/* For a space between the swipe buttons. Don't want it on both as that
  affects the centering on smaller screens */
.btn-cross {
    margin-right: 1.5em;
}

.btn-heart:hover,
.btn-heart:active {
    box-shadow: 0px 10px 20px 0px #CCF1E6;
    background-color: #DBFFF4;

}

.btn-cross:hover,
.btn-cross:active {
    box-shadow: 0px 10px 20px 0px #EDD9DF;
    background-color: #FFE7EF;
}

.cross-icon,
.heart-icon {
    /* Needed so it triggers the onclick of the parent (add button) */
    pointer-events: none;
}

/* Main app styles - End */

/* Profile update styling - Start */

.blur-background {
    filter: blur(5px)
}

.user-profile-container {
    display: none;
    position: fixed;
    top: 85;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 500px;
    height: fit-content;
    background-color: #F6F7FB;
    border-radius: 0.5em;
    text-align: center;
}

.user-profile-header {
    color: #000000;
    margin-top: 0.5em;
    margin-left: 1em;
}

.user-profile-avatar {
    height: 300px;
    display: block;
    margin: 0 auto 1em;
    object-fit: contain;
}

.user-profile-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.user-profile-form input,
.user-profile-form textarea {
    padding: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

.user-profile-form button {
    background-color: #00D894;
    color: #ffffff;
    padding: 0.75em;
    border-radius: 0.5em;
    border: 0;
}

/* Profile update styling - End */

/* Liked profiles styles - Start */

.liked-profiles-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    color: black;
    margin-left: 1em;
}

.liked-profile-header {
    display:flex;
    align-items: center;
    gap: 20px;
}

.liked-profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* Liked profiles styles - End */