:root {
    --main-font-family: "Poppins", sans-serif;
    --main-font-color: #F8F8F8;
    --white-color: #FFFFFF;
    --grey-color: #F6F7FB;
    --swipe-like-background-color: #DBFFF4;
    --swipe-like-boxshadow-color: #CCF1E6;
    --swipe-nope-background-color: #FFE7EF;
    --swipe-nope-boxshadow-color: #EDD9DF;
    --black-color: #000000;
    --profile-input-border-color: #B2B3BA;
    --save-btn-background-color: #00D894;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

/* Allows the page to have a h1 */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}

.container {
    max-width: 550px;
    min-width: 350px;
    min-height: 900px;
    margin: 0 auto 1.5em;
    background: linear-gradient(180deg, var(--white-color) 0%, var(--grey-color) 100%);
    padding: 0.5em;
}

input, textarea {
    line-height: 1.5;
}

/* Typography styles - Start */
.dog-profile-name {
    font-size: 2em;
    font-weight: 600;
}

.dog-profile-bio {
    font-size: 1.5em;
    font-weight: 400;
}

/* Typography styles - End */

/* Header styles - Start */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
}

.app-icons,
.liked-profile-avatar {
    width: 50px;
    height: 50px;
}

.app-logo {
    width: 84px;
    height: 45px;
}

.app-icons,
.app-logo {
    cursor: pointer;
}

.user-avatar,
.liked-profile-avatar {
    border-radius: 50%;
}

/* Header styles - End */

/* Main app styles - Start */

.dogs-container {
    position: relative;
}

.dog-profile-image {
    width: 100%;
    aspect-ratio: auto 530 / 750;
    border-radius: 1em;
}

.dog-profile-details {
    position: absolute;
    bottom: 30px;
    left: 12px;
}

/* Displayed when the dog has been 'swiped' */
.dog-profile-badge {
    display: none;
    width: 172px;
    height: 70px;
    position: absolute;
    top: 40px;
    left: 20px;
    transform: rotate(-25deg);
}

.swipe-button-container {
    text-align: center;
    margin: 1.5em 0;
}

.swipe-btn {
    background-color: var(--white-color);
    border-radius: 50%;
    border: 0;
    padding: 1.5em;
}

/* For a space between the swipe buttons. Don't want it on both as that
  affects the centering on smaller screens */
.btn-cross {
    margin-right: 1.5em;
}

.btn-heart:hover,
.btn-heart:active,
.btn-heart:focus {
    box-shadow: 0px 10px 20px 0px var(--swipe-like-boxshadow-color);
    background-color: var(--swipe-like-background-color);
    outline: 0;

}

.btn-cross:hover,
.btn-cross:active,
.btn-cross:focus {
    box-shadow: 0px 10px 20px 0px var(--swipe-nope-boxshadow-color);
    background-color: var(--swipe-nope-background-color);
    outline: 0;
}

.cross-icon,
.heart-icon {
    /* Needed so it triggers the onclick of the parent (add button) */
    pointer-events: none;
}

/* Main app styles - End */

/* Profile update styling - Start */
/* Blur the main frame when the modal is open */
.blur-background {
    filter: blur(5px)
}

.user-profile-container {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 500px;
    height: fit-content;
    background-color: var(--grey-color);
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}

.user-profile-header {
    color: var(--black-color);
    margin-top: 0.5em;
    margin-left: 1em;
}

.user-profile-avatar {
    height: 300px;
    display: block;
    margin: 0 auto 1em;
    object-fit: contain;
}

label {
  color: black;
  text-align: left;
  margin: 0.5em 0.5em;
}

.user-profile-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.user-profile-form input,
.user-profile-form textarea {
    padding: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(-profile-input-border-color);
}

.save-profile-btn {
    background-color: var(--save-btn-background-color);
    color: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1em;
    border-radius: 0.5em;
    border: 0;
}

/* Profile update styling - End */

/* Liked profiles styles - Start */

.liked-profiles-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    color: var(--black-color);
    margin-left: 1em;
    margin-top: 1em;
}

.liked-profile-header {
    display:flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--black-color);
}

/* Liked profiles styles - End */